.header{
    background: #F9E10A;
    margin: 0px;
    width: 100%;
}
body{
    margin: 0px;
}
.hed{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 3fr 3fr 3fr 3fr;
    margin: 0px;
}
.telephone{
    width: 12px;
}
.repeatgready{
    margin-top: auto;
    margin-bottom: auto;
}
.greedy{
    grid-column-start: 2;
}
.greedy2{
    grid-column-start: 3;
}
.greedy3{
    grid-column-start: 4;
}
.greedy4{
    grid-column-start: 6;
}
.greedy5{
    grid-column-start: 7;
}
.greedy6{
    grid-column-start: 8;
}
.numbers{
    display: inline-block;
    font-size: 16px;
    font-family:sans-serif;
    font-weight: bold;
}
.textloc{
    margin: 0px; 
    font-size: 16px;
    font-family:sans-serif;
    font-weight: bold;
}
.align{
    text-align: center;
}
.line  {
    margin-top: 20px;
    border-top: 2px dashed #000;
    height: 18px;
}
.header2{
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 2fr 2fr 2fr;
    margin: 0px;
}
.corner{
    margin-left:15px;
    border-radius: 83px
}
.unitmiddle{
    margin-top: 50px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    font-size: 18px;
}

.lines  {
    margin-left: 44px;
    margin-top: 20px;
    border-top: 2px solid #000;
    height: 18px;
    width: 100px;
}
.header3{
    width: 100%;
}
.header4{
    width:100%;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr 4fr;
}
.frm:hover{
    color: rgb(255, 255, 255);
    
}
.lin{
    border-left: 2px solid black;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.inter{
    font-family: sans-serif;
    text-align:center;
    font-weight: bold;
    
   
   
}
.star{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
}

.imgstar{
    
    width: 60px;
    justify-self:end;
   
}
.interstar{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    justify-self: start;
}

    
.nav{
    text-decoration: none;
    color: black;
}
.st{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}
.carier{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.st2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.star2{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto;
}
.aligns{
    text-align: center;
    font-family: sans-serif;
    font-weight: medium;
    font-size: 30px;
}
.coffee{
    align-self: start center;
    justify-self: center;
}
.star3{
    grid-row-start:4;
    grid-column-start: 2;
}
.promo{
    grid-row-start: 5;
    grid-column-start:1;
    grid-column-end: 4;
    width: 100%;
    
}
.star4{
    grid-row-start:6;
    grid-column-start: 2;
}
.news{
    grid-row-start:7;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
}
.star5{
    grid-row-start:8;
    grid-column-start: 2;
}
.carier{
    display: grid;
    grid-column:auto 1fr;    
}
.carierad{
    align-self: center;  
    justify-items: end;
    border-radius: 100px;
}
.work{
    grid-row-start:9;
    grid-column-start: 2;
    grid-column-end:4;
    margin-left: 50px;
}
.about{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}
.star6{
    grid-row-start:10;
    grid-column-start: 2;
}
.livrare{
    grid-row-start:11;
    grid-column-start: 1;
    grid-column-end:4;
    width: 100%;
}
.footer{
    display: grid;
    grid-row: 0.25fr;
    background: #2c2a2a;
    margin-top: 80px;
    width: 100%;
    height: 80px;
}
.space{
    background: #2c2a2a;
    margin-top: 50px;
    width: 100%;
    
}
.space2{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: #2c2a2a;
    height: 500px;
    width: 100%;
    margin-bottom: 0px;
}
.space3{
    background: #F9E10A;
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0px;
    
}
.white{
    margin-left: 10px;
    color:white;
    align-self: center;
    font-size: 18px;
    font-family: sans-serif;
}
.logo{
    align-self: center;
    justify-self: center;
}
.rights{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    text-align: start;
    margin-bottom: 0px;
}
.facebook{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self:center;
}
